<div class="jumbotron">
  <h1 class="display-3">Your Following's Gists</h1>
  <p class="lead">You can reach your following's Gists</p>
  <p><%= link_to "Sign in with Github", omniauth_authorize_path(:user, "github"), {class: "btn btn-lg btn-success", role: "button"} %></p>
</div>