<div class="jumbotron">
  <h1 class="display-3">CRUD Your Gists</h1>
  <p class="lead">You can manage your Gits from here.</p>
  <p><%= link_to "Sign in with Github", omniauth_authorize_path(:user, "github"), {class: "btn btn-lg btn-success", role: "button"} %></p>
</div>