@import "bootstrap";
@import "syntax";

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 57rem;
  }
}

.container-narrow>hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}

.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}

.marketing p+h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #555273 !important;
}

.stampsize {
  width: 10rem;
  display: inline-block;
  margin-bottom: 15px;
  color: white;
  border-width: 0.2rem;
}

.card-title {
  font-size: 0.85rem;
  margin: 5px;
}

.cyan-text {
  color: #17a2b8;
}

.grey-text {
  color: #878C91;
}

a.tealtext {
  color: #17a2b8;
}

.card:hover {
  box-shadow: 0 7px 18px #cccccc;
}

.top-gap {
  padding-top: 2rem;
}

.right-gap {
  padding-right: 2rem;
}

.align-right {
  margin-left: auto;
  margin-right: 0;
}

.gistcatch-box {
  position: relative;
  padding: 1rem;
  margin: 1rem (-$grid-gutter-width / 2) 0;
  border: solid $gray-100;
  border-width: .2rem 0 0;
  @include clearfix();

  @include media-breakpoint-up(sm) {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
  }
}
